.navContainer {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: var(--color-black);
    z-index: 100;
    display: flex;
    top: 0;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.navContentContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navLeftContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.smallGrayDivider {
    height: 30px;
    width: 1px;
    background-color: var(--color-dark-gray);
    align-self: center;
}

.navLinksContainer {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.navLinksContainer h4 {
    color: var(--color-light-gray);
}

.navRightContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.navRightContainer h4{
    color: var(--color-light-gray);
}


.contactButton {
    color: var(--color-black);
    background-color: var(--color-white);
    cursor: pointer;
}

.grayDivider {
    position: absolute;
    height: 1px;
    background-color: var(--color-light-gray);
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 101;
}

/* Navbar fade effects */
.navVisible {
    transform: translateY(0);
}

.navHidden {
    transform: translateY(-100%);
}

